// _variables.scss

// Color Palette
$primary-color: #9cc7d6;       // Light Blue
$secondary-color: #FFFFFF;     // White
$accent-color: #FFB6C1;        // Light Pink (Pastel Shade)
$background-color: #f5faff;    // Alice Blue (Pastel Shade)
$text-color: #448eb9;          // Dark Grey for readability
$third-color: #ddf6ff;
$text2-color:#1a586d;
$text3-color:#02485f;
// Font Stack
$font-stack: 'Roboto', sans-serif;

// Base Spacing
$base-spacing: 16px;
$hero-color:#f3fbfd;